body {
  background-image: radial-gradient(circle at 6.29% 75.24%, #d7ff84 0, #c0ff80 16.67%, #a4ff7a 33.33%, #83f372 50%, #5ce76c 66.67%, #26de6a 83.33%, #00d66c 100%);
  text-align: center;
  font: bold 20px "Shadows Into Light", cursive; }
  body h1 {
    color: black;
    font-family: "Licorice", cursive;
    font-weight: bold;
    text-decoration: none;
    margin: 30px;
    padding: 10px;
    font-size: 75px; }

.logo:hover {
  transform: scale(1.2, 1.2); }

.navbar-nav {
  font-size: 20px;
  font-weight: bold; }

.in:hover {
  background-color: gold;
  transform: scale(1.1, 1.1); }

.gal:hover {
  background-color: grey;
  transform: scale(1.1, 1.1); }

.com:hover {
  background-color: orange;
  transform: scale(1.1, 1.1); }

.sm:hover {
  background-color: turquoise;
  transform: scale(1.1, 1.1); }

.cont:hover {
  background-color: pink;
  transform: scale(1.1, 1.1); }

footer {
  background-color: black;
  padding: 0;
  margin: 0; }
  footer a {
    font-size: 1.5rem; }

.redes {
  display: flex;
  justify-content: space-around; }

.instagram {
  color: violet; }

.twitter {
  color: lightblue; }

.facebook {
  color: blue; }

.img-fluid {
  border: solid black; }

.dibujos {
  margin: auto;
  padding: auto;
  width: 50%;
  border: solid black; }

.comisiones h3, .comisiones .basica h3, .comisiones .premium h3 {
  color: black;
  font-family: "Licorice", cursive;
  font-weight: bold;
  font-size: 35px; }

.comisiones, .comisiones .basica, .comisiones .premium {
  text-align: start;
  font-size: 20px; }
  .comisiones .basica {
    background-color: aqua; }
  .comisiones .premium {
    background-color: gold; }

.sobremi {
  display: flex;
  justify-content: space-around; }
  .sobremi h5 {
    color: black;
    font-family: "Licorice", cursive;
    font-weight: bold;
    font-size: 35px;
    text-decoration: underline; }

.contacto {
  text-align: start;
  font-size: 20px; }
  .contacto fieldset {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 5px solid black; }
  .contacto legend {
    background-color: white;
    text-align: center;
    color: black;
    font-family: "Licorice", cursive;
    font-weight: bold;
    font-size: 60px;
    border: solid black; }
