.comisiones h3{
    color: black;
    font-family: "Licorice", cursive;
    font-weight: bold;
    font-size: 35px;
}
.comisiones{
    text-align: start;
    font-size: 20px;
    .basica{
        @extend .comisiones;
        background-color: aqua;
    }
    .premium{
        @extend .comisiones;
        background-color: gold;
    }
}
