.contacto{
    text-align: start;
    font-size: 20px;
    fieldset{
        background-color: white;
        padding: 10px;
        margin: 10px;
        border:5px solid black;
    }
    legend{
        background-color: white;
        text-align: center;
        color: black;
        font-family: "Licorice", cursive;
        font-weight: bold;
        font-size: 60px;
        border: solid black;
    }
}