footer{
    background-color: black;
    padding:0;
    margin:0;
    a{
        font-size: 1.5rem;
    }
}
.redes{
    display: flex;
    justify-content: space-around;
}
$redes:(
    ig:violet,
    tw:lightblue,
    fb:blue,
);
$ig:map-get($redes, ig );
$tw:map-get($redes, tw );
$fb:map-get($redes, fb );
.instagram{
    color: $ig;
}
.twitter{
    color: $tw;
}
.facebook{
    color: $fb;
}