body{
    h1{
        color: black;
        font-family: "Licorice", cursive;
        font-weight: bold;
        text-decoration: none;
        margin: 30px;
        padding: 10px;
        font-size: 75px;
    }
}
.img-fluid{
    border: solid black;
}