$fondo-radiante: radial-gradient(circle at 6.29% 75.24%, #d7ff84 0, #c0ff80 16.67%, #a4ff7a 33.33%, #83f372 50%, #5ce76c 66.67%, #26de6a 83.33%, #00d66c 100%);
$letra-comun: bold 20px 'Shadows Into Light',cursive;
$bgnav1: gold;
$bgnav2: grey;
$bgnav3: orange;
$bgnav4: turquoise;
$bgnav5: pink;
@import "body";
@import "navbar";
@import "footer";
@import "index";
@import "galeria";
@import "comisiones";
@import "sobremi";
@import "contacto";

