body{
    background-image: radial-gradient(circle at 6.29% 75.24%, #d7ff84 0, #c0ff80 16.67%, #a4ff7a 33.33%, #83f372 50%, #5ce76c 66.67%, #26de6a 83.33%, #00d66c 100%);
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 20px;
}
.logo:hover{
    transform: scale(1.2,1.2);
}
.navbar-nav{
    font-size: 20px;
    font-weight: bold;
}
.navbar-nav a:hover {
    background: green;
    color: white;
    transform: scale(1.1,1.1);
}
body h1{
    color: black;
    font-weight:bold;
    text-decoration: none;
    margin: 30px;
    padding: 10px;
    font-family: 'Licorice', cursive;
    font-size: 75px;
}
.img-fluid{
    border: solid black;
}
footer{
    background-color: black;
    padding:0;
    margin:0;
}
footer a{
    font-size: 1.5rem;
}
.redes{
    display: flex;
    justify-content: space-around;
}
.dibujos{
margin: auto;
padding: auto;
width: 50%;
border: solid black;
}
.sobremi{
    display: flex;
    justify-content: space-around;
}
.sobremi h5{
    font-family: 'Licorice', cursive;
    font-weight: bold;
    font-size: 35px;
    text-decoration: underline;
}
.contacto{
    text-align: start;
    transition: all 1.5s;
    font-size: 20px;
}
.contacto fieldset{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border:5px solid black;
    transition: all 1.5s;
}
.contacto fieldset:hover{
    background-color: lawngreen;
}
.contacto legend{
    background-color: white;
    text-align: center;
    font-family: 'Licorice', cursive;
    font-weight:bold;
    font-size: 60px;
    border: solid black;
}
.comisiones h3{
    font-family: 'Licorice', cursive;
    font-weight: bold;
    font-size: 35px;
}
.basica{
    text-align: start;
    font-size: 20px;
}
.basica:hover{
    transform: scale(1.01,1.01);
    background-color: aqua;
}
.premium{
    text-align: start;
    font-size: 20px;
}
.premium:hover{
    transform: scale(1.01,1.01);
    background-color: gold;
}